.eudModalMain {
	display: float;
	z-index: 9999;
	position: absolute;
	left: 40%;
	top: 20%;
	padding: 2rem;
	background-color: #fff;
	width: 480px;
	height: 480px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hideModal {
	display: none;
}
